/*
1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
	margin: 0;
}
/*
3. Allow percentage-based heights in the application
*/
html,
body {
	height: 100%;
}
/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
9. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

main {
	font-size: clamp(0.5rem, 3.5vw, 1rem);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.carda {
	margin: 2rem;
	width: min(90%, 30rem);
}

.presupuestoCard {
	width: 100%;
	border: rgb(var(--verde)) solid 3px;
	border-radius: var(--radio);
	background-color: rgba(var(--verde), var(--opacity));
	font-weight: bold;
}

.gastoCard {
	width: 100%;
	border: rgb(var(--rojo)) solid 3px;
	border-radius: var(--radio);
	background-color: rgba(var(--rojo), var(--opacity));
	font-weight: bold;
}

.labelCard {
	width: 100%;
}

.inputCard {
	width: 100%;
	border: lightgray solid 2px;
	border-radius: var(--radio);
	background: transparent;
	font-weight: 300;
}

.tablas {
    margin-block: 6rem;
	width: min(90%, 35rem);
}

.tabla {
    margin-block: 4.25rem;
}

.saldos,
.tabla {
	display: flex;
	flex-wrap: wrap;
	flex: 0 1 auto;
	width: 100%;
	font-weight: bold;
}

.item {
	width: 33%;
}

#presupuesto {
	text-align: left;
}

#gastos {
	text-align: center;
}

#saldo {
	text-align: right;
}

#itemGasto {
	width: 60%;
	text-align: left;
}

#itemValor {
	width: 30%;
}

#itemSaldo {
	width: 10%;
}

.savage {
	margin-inline: auto;
	height: 1rem;
	width: 1rem;
	filter: invert(48%) sepia(199%) saturate(276%) hue-rotate(176deg) brightness(118%) contrast(119%);
}

.titulo {
	width: 100%;
	border-bottom: black solid 2px;
}

#listaGastos {
	width: 100%;
}

.lineaGasto {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-bottom: lightgray solid 1px;
	align-items: baseline;
	height: 1.55rem;
}

.btn {
    font-size: clamp(0.5rem, 3.5vw, 1rem);
}
/* Botones con cosos... */
.btn-outline-danger:hover {
	box-shadow: 0 0 10px 0 rgb(var(--rojo)) inset, 0 0 20px 2px rgb(var(--rojo));
}

.btn:active {
	animation: pulse 0.05s ;
}
@keyframes pulse {
	0% {
		transform: scale(1);
	}
	70% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

.btn-outline-success:hover {
	box-shadow: 0 0 10px 0 rgb(var(--verde)) inset, 0 0 20px 2px rgb(var(--verde));
}

.rojo {
	color: red;
}
/* Un media query para no perder la costumbre*/
@media (max-width: 1103px) {
    .tablas {
        margin-block: 0;
    }
    .tabla {
        margin-block: 0;
    }
}